**
Руководство решает внедрить фичу “С этим товаром покупают” в Интернет-магазине. Вам предлагается протестировать фичу на одном из товаров. Для тестирования фичи вам исходя из истории покупок в интернет-магазине нужно определить ТОП-10 наиболее близких товаров к исходному.**

** 1. Используйте датасет с  практики текущего урока.**

In [ ]:
# Источник - датасет с практики текущего урока: http://archive.ics.uci.edu/ml/datasets/online+retail

In [ ]:
# Необходмо импортировать нужные библиотеки
import pandas as pd
import numpy as np

In [ ]:
# Проводим загрузкку с ресурса и читаем  датасет:
# df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')

df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
# Просматриваем размеры датафрейма
df.shape

(541909, 8)

In [ ]:
# Просматриваем информацию о датафрейме 
df.info()

# Из информации видим, что нужна его чистка ____Quantity  541909 non-null  int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
# Описательная статистика датафрейма
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
# Для сводной таблицы проводим чистку датафрейма: удаляем записи с нулевыми покупками
df = df.loc[df['Quantity'] > 0]

In [ ]:
# Просмотр столбца
# df = df.filter(items=['Quantity'])
# df.head()

In [ ]:
# Проводим чистку датафрейма: удаляем записи с пропусками в customer_id
df = df.dropna(subset=['CustomerID'])

**2. Создаем матрицу item-customer (по срокам - товары, по столбцам - покупатели)**

In [ ]:
# Создаем матрицу item-customer (по срокам - товары, по столбцам - покупатели, сводим данные в агрегированную сводную таблицу "покупатель - товар"
customer_item_matrix = df.pivot_table(index='CustomerID', columns='StockCode', values='Quantity', aggfunc='sum')
customer_item_matrix.head()

StockCode   10002  10080  10120  10125  10133  ...  C2  DOT   M  PADS  POST
CustomerID                                     ...
12346.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   NaN
12347.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   NaN
12348.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   9.0
12349.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   1.0
12350.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   1.0

[5 rows x 3665 columns]

In [ ]:
# Просматриваем размеры сводной таблицы
customer_item_matrix.shape

(4339, 3665)

In [ ]:
# Проводим верификацию датафрейма - сравниваем кол-во строк с кол-вом уникальных покупателей
df['CustomerID'].nunique()

4339

In [ ]:
# Сравниваем кол-во столбцов с кол-вом уникальных товаров в исходном датафрейме
df['StockCode'].nunique()

3665

Замена значений NaN на х > 1, а иначе 0

In [ ]:
# Заменяем кол-во покупок на событие: 1- факт покупки, 0 - отсутствие покупки
customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)
customer_item_matrix.head()

StockCode   10002  10080  10120  10125  10133  ...  C2  DOT  M  PADS  POST
CustomerID                                     ...
12346.0         0      0      0      0      0  ...   0    0  0     0     0
12347.0         0      0      0      0      0  ...   0    0  0     0     0
12348.0         0      0      0      0      0  ...   0    0  0     0     1
12349.0         0      0      0      0      0  ...   0    0  0     0     1
12350.0         0      0      0      0      0  ...   0    0  0     0     1

[5 rows x 3665 columns]

**3. Проведение оценки мер близости товаров и получение матрицы item_item_sim_matrix со значениями косинусов между векторами товаров.**

In [ ]:
# Импортируем функцию из библиотеки 
from scipy.sparse import csr_matrix

def cos_sim(array):
# Расчитываем косинус (сколярное произведение векторов)
  csr_array = csr_matrix(array)
  numerator = np.dot(csr_array,csr_array.T).toarray()   # числитель, np.dot произведение векторов и элемент csr_array всех векторов, T. переворачиваем матрицу  # возвращаем плотную иатрицу взамен разряженной
  denomenator = np.linalg.norm(array, axis = 1, keepdims = True)*np.linalg.norm(array.T, axis = 0, keepdims = True)  # числитель, функция np.linalg нахождения длины векторов, передаем матрицу array, и перевернутую матрицу (вектор транспонирован)
  return numerator / denomenator           #  проводим деление

In [ ]:
# Поварачиваем матрицу с использованием транспонирования
item_customer_matrix = customer_item_matrix.T
item_customer_matrix.head()
# Строки - наименование товаров
# Cтолбцы - товары, которые покупали

CustomerID  12346.0  12347.0  12348.0  ...  18282.0  18283.0  18287.0
StockCode                              ...
10002             0        0        0  ...        0        0        0
10080             0        0        0  ...        0        0        0
10120             0        0        0  ...        0        0        0
10125             0        0        0  ...        0        0        0
10133             0        0        0  ...        0        0        0

[5 rows x 4339 columns]

**4. Формирование оценки мер близости**

In [ ]:
# На основе покупок , оцениваем меры близости с учетом косунусной мерой сходства
item_item_sim_matrix = cos_sim(item_customer_matrix.values)  # values преобразовывает в массив numpy
item_item_sim_matrix

array([[1.        , 0.        , 0.09486833, ..., 0.06691496, 0.        ,
        0.07821652],
       [0.        , 1.        , 0.        , ..., 0.01618174, 0.        ,
        0.        ],
       [0.09486833, 0.        , 1.        , ..., 0.07053456, 0.        ,
        0.01099299],
       ...,
       [0.06691496, 0.01618174, 0.07053456, ..., 1.        , 0.        ,
        0.0775386 ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.07821652, 0.        , 0.01099299, ..., 0.0775386 , 0.        ,
        1.        ]])

In [ ]:
# Добавляем название столбцов и индексов в матрицу мер близости между векторами-строками покупателей 
item_item_sim_matrix = pd.DataFrame(item_item_sim_matrix)

item_item_sim_matrix.columns = customer_item_matrix.T.index       # забираем индексы и транспонируем

item_item_sim_matrix['CustomerID'] = customer_item_matrix.T.index       # заменяем столюцы 
item_item_sim_matrix = item_item_sim_matrix.set_index('CustomerID')

item_item_sim_matrix.head()

StockCode      10002     10080     10120  ...         M      PADS      POST
CustomerID                                ...
10002       1.000000  0.000000  0.094868  ...  0.066915  0.000000  0.078217
10080       0.000000  1.000000  0.000000  ...  0.016182  0.000000  0.000000
10120       0.094868  0.000000  1.000000  ...  0.070535  0.000000  0.010993
10125       0.090351  0.032774  0.057143  ...  0.070535  0.000000  0.070669
10133       0.062932  0.045655  0.059702  ...  0.070185  0.049752  0.021877

[5 rows x 3665 columns]

**Если косинус ближе к 1 (единице), товары более похожы друг на друга, если нет то антипод (абсолютная противоположность)..**

**5.Отбираем ТОП-10 похожих товаров по StockCode.
Выводим список ТОП-10 похожих товаров с названиями (Description) на экран.
Исходный товар - StockCode: 23166 Description: MEDIUM CERAMIC TOP STORAGE JAR**

In [ ]:
# Отбираем ТОП-10 похожих товаров по StockCode.
# Берем матрицу, которую мы раньше сформировали (поместили в датафрейм)  item_item_sim_matrix, фильтруем ее по номеру товара (сиоккоду) 23166 и сортируем  в порядке убывания ascending=False
# Включая сам товар 23166
top_10_similar_items_1 = list (item_item_sim_matrix.loc[23166].sort_values(ascending=False).iloc[:11].index)   # фильтруем и сортируем по убыванию

top_10_similar_items_1

[23166, 23165, 23167, 22993, 23307, 22722, 22720, 22666, 23243, 22961, 23306]

In [ ]:
# Не включая сам товар 23166
top_10_similar_items_2 = list (item_item_sim_matrix.loc[23166].sort_values(ascending=False).iloc[1:11].index)    # фильтруем и сортируем по убыванию

top_10_similar_items_2

[23165, 23167, 22993, 23307, 22722, 22720, 22666, 23243, 22961, 23306]

In [ ]:
# не нужно никаких этапов - этапы нужны для коллабортивная фильтрация, рекомендации пользователям A и  B

In [ ]:
# Выводим перечень товаров эталонного покупателя c включением самого товара 23166
df.loc[df['StockCode'].isin(top_10_similar_items_1), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items_1]

                                   Description
StockCode
23166           MEDIUM CERAMIC TOP STORAGE JAR
23165            LARGE CERAMIC TOP STORAGE JAR
23167           SMALL CERAMIC TOP STORAGE JAR
22993             SET OF 4 PANTRY JELLY MOULDS
23307      SET OF 60 PANTRY DESIGN CAKE CASES
22722        SET OF 6 SPICE TINS PANTRY DESIGN
22720        SET OF 3 CAKE TINS PANTRY DESIGN
22666          RECIPE BOX PANTRY YELLOW DESIGN
23243      SET OF TEA COFFEE SUGAR TINS PANTRY
22961                   JAM MAKING SET PRINTED
23306          SET OF 36 DOILIES PANTRY DESIGN
23306           SET OF 36 PANTRY PAPER DOILIES

In [ ]:
# Выводим перечень товаров эталонного покупателя без включением самого товара 23166
df.loc[df['StockCode'].isin(top_10_similar_items_2), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items_2]

                                   Description
StockCode
23165            LARGE CERAMIC TOP STORAGE JAR
23167           SMALL CERAMIC TOP STORAGE JAR
22993             SET OF 4 PANTRY JELLY MOULDS
23307      SET OF 60 PANTRY DESIGN CAKE CASES
22722        SET OF 6 SPICE TINS PANTRY DESIGN
22720        SET OF 3 CAKE TINS PANTRY DESIGN
22666          RECIPE BOX PANTRY YELLOW DESIGN
23243      SET OF TEA COFFEE SUGAR TINS PANTRY
22961                   JAM MAKING SET PRINTED
23306          SET OF 36 DOILIES PANTRY DESIGN
23306           SET OF 36 PANTRY PAPER DOILIES

**Спасибо за внимание!**